body {
    background-color: lightblue;
    color: red;
    max-width: 500px;
    margin: auto;
}

#outputSpace {
    background-color: white;
    border: 2px solid black;
}

#sumValues {
    display: inline-block;
    vertical-align: top;
    margin-right: 50%;
    background-color: orange;
    padding: 10px;
}

#decideValues {
    display: inline-block;
    vertical-align: top;
    background-color: lightyellow;
    padding: 10px;
}